<h4 class="reset-instructions">
    If you have an account with us, we have sent an email
    with the instructions to reset your password.
</h4>

<style>
.reset-instructions {
    text-align: center;
    color: #555; 
    font-weight: 500;
    line-height: 1.6; 
    margin-top: 20px;
    font-size: 16px;
}
</style>
