<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Uber.PLL</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Uber.PLL.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.css" />

</head>
<body style="margin: 0; padding: 0;">

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>

    <script>
            $(document).ready( function () {
            $('#Users').DataTable();
        } );
    </script>
    <script>
            $(document).ready( function () {
            $('#Admins').DataTable();
        } );
    </script>
    <script>
            $(document).ready( function () {
            $('#Drivers').DataTable();
        } );
    </script>
    <script>
            $(document).ready( function () {
            $('#Rides').DataTable();
        } );
    </script>
    <script>
            $(document).ready( function () {
            $('#rideUserprofile').DataTable();
        } );
    </script>


    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>